**/__pycache__/*
**/logs/*
# link to the scratch space for learnCosm projects
data_learnCosm 
# individual project ignores
ClustatKit/*
# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.synctex.gz
*.toc
*.log
*.out